.banner-carousel img {
  object-fit: contain;
  height: 100%;
  margin-top:20px;
}

@media (max-width: 768px) {
  .banner-carousel img {
    width: 95vw;
    height: 100vw;
    margin-top:10px;
  }
}
