nav {
  justify-content: space-between;
  background-color: rgba(4, 124, 236, 0.6);
  backdrop-filter: blur(5px);
  padding: 5px 50px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: center;
  margin: 0;
  font-size: 20px;
  padding-right: 85px;
}

.nav-links a {
  margin: 0 20px;
  color: white;
  text-decoration: none;
  opacity: 1;
}

.nav-links a:hover {
  opacity: 0.7;
}

.nav-links a:active {
  transform: scale(0.95);
}

.home-link {
  margin-top: 5px;
}

.home-link:hover {
  filter: brightness(70%);
}